<a href="https://colab.research.google.com/github/neethu2602/DSA_Class_Activities-/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def functionname():
  function body             #Structure of function

In [ ]:
def greet():
  print("Hello welcome to kerala")
greet()

Hello welcome to kerala

In [ ]:
def greet():
  pass                 # Error avoided.... function body can be added later
greet()

In [ ]:
def greet(name,time='11AM'):
  print(f"Hello {name}, Welcome to the program..... Your session will start at {time}")




greet("Neethu")
greet("Tissy",'2PM')
greet("Anna")
greet("Lakshmi",'4PM')                               #Positional argument maintain the position

Hello Neethu, Welcome to the program..... Your session will start at 11AM
Hello Tissy, Welcome to the program..... Your session will start at 2PM
Hello Anna, Welcome to the program..... Your session will start at 11AM
Hello Lakshmi, Welcome to the program..... Your session will start at 4PM

In [ ]:
a= int(input("enter 1st number: "))
b= int(input("enter the 2nd number: "))
def mul(a,b):
  print("product is: ",a*b)
mul(a,b)

enter 1st number: 5
enter the 2nd number: 5
product is:  25

In [ ]:
def bill_amount (a):
  percentage=(a/100)*10
  billamount=percentage+a
  print('Total bill amount: ',billamount)
bill_amount(500)
bill_amount(100)

Total bill amount:  550.0
Total bill amount:  110.0

In [ ]:
def bill_amount (a):
  if a<=500:
    percentage=(a/100)*10
    billamount=percentage+a
  elif 500<a<=800:
    percentage=(a/100)*15
    billamount=percentage+a
  elif 800<a<=1000:
    percentage=(a/100)*20
    billamount=percentage+a
  else:
    percentage=(a/100)*30
    billamount=percentage+a
  print('Total bill amount: ',billamount)
bill_amount(600)
bill_amount(1100)

Total bill amount:  690.0
Total bill amount:  1430.0

In [ ]:
numlist=[1,3,5,6,8,10,12,25]
def averagelist(numberlist):
  even=[]
  odd=[]
  for num in numberlist:
    if num%2==0:
      even.append(num)
      averageeven=sum(even)/len(even)
    else:
      odd.append(num)
      averageodd=sum(odd)/len(odd)

  print(f"average of  even list{even} is {averageeven}")
  print(f'average of  odd list {odd} is {averageodd} ')
averagelist(numlist)

average of  even list[6, 8, 10, 12] is 9.0
average of  odd list [1, 3, 5, 25] is 8.5

In [ ]:
#def sum(*new):
 # total=0
  #for i in new:
   # total+=i
#  print(total)
#sum(4,8,9,10)

31

In [ ]:
def price(**total):
  sum=0
  for i in total.values():
    sum+=i
  print(sum)

price(apple=18,orange=20,grapes=30)

68

In [ ]:
def print_info(**arg):
  for item,val in arg.items():
    print(f"{item} is {val}")

print_info(name='Geethu',place='tvm',Batch='DSA')
print_info(gate1='open',gate2='closed')

name is Geethu
place is tvm
Batch is DSA
gate1 is open
gate2 is closed

In [ ]:
square=lambda x: x*x
square(24)

576

In [ ]:
add =lambda a,b:a+b
add(5,12)

17

In [ ]:
def to(marking):
  return(sum(marking))

final_score=to([10,20,30,40])
if final_score>=90:
  print("grade a")
elif final_score>=80:
  print("grade b")
elif final_score>=70:
  print("grade c")
elif final_score>=60:
  print("grade d")

TypeError: unsupported operand type(s) for +=: 'int' and 'list'